*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
  background: rgb(226, 235, 236);
  font-family: 'Montserrat', sans-serif;
}

.main-header-div{
  background:rgb(209, 209, 209, 0.5);
  margin:0px 16px 16px 16px;
  padding:32px;
}

.main-header{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(31, 70, 177);
  font-size: 8vh;
}

.title-headings{
  color:rgb(31, 70, 177);
  font-size: 4vh;
  margin-bottom:8px;

}

.total-wrapper{
  display:flex;
  column-gap: 128px;
  justify-content: center;
}

.input-wrapper{
  position: relative;
  left: 10px;
  width:40%;
  border:1px black solid;
  border-radius:1%;
  display:flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
}

textarea, input{
  background: transparent;
  border: 1px black solid;
  width:80%;
  outline:none;
  padding: 24px;
  font-size: 14px;
  color:rgb(0, 0, 0);
  border-radius: 1%;
}

input:focus::placeholder{
border: 1px solid black;
background: rgb(231, 224, 224);
}

input:focus, textarea:focus{
  border-right:2px solid black;
  border-bottom:2px solid black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: border 0.2s ease; 
}

.cate{
  margin-bottom: 10px;
}


button{
  border: none;
  padding: 24px;
  margin-right:16px;
  background: rgba(90, 49, 49, 0.4);
}

.divWrap{
  width: 700px;
  display:flex;
  flex-flow:column nowrap;
}


@media screen and (max-width:900px){
  textarea,input{
    width: 50%;
  }
  .total-wrapper{
    flex-flow:column nowrap;
  }
}


.display-wrapper{
  height: fit-content;
  width: 40%;
  border: 2px black solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.bio-wrapper{
  display:flex;
  justify-content: space-between;
  max-height:25%;
  background: rgb(161, 161, 161);
}

.bio-one{
  display:flex;
  flex-flow:column wrap;
  justify-content: flex-start;
  align-items:flex-start;
}

.bio-two{
  display:flex;
  flex-flow:column wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  margin-right: 24px;
}

.smallheadings{
  width: 9em;
}

.mainheadings{
  font-size: 4em;
}

.role{
  font-size: 2em;
}

.total-bottom{
  margin: 1em 0.5em 1em 0.5em;
}